# Virtual environment
venv/
__pycache__/

# Generated / binary files
*.pkl
*.index

# Sensitive files
youtube_cookies.txt
.env

# OS files
.DS_Store
Thumbs.db

# Large data folders (DO NOT upload)
audio_downloads/
glove/
QueryTube_Infosys_Internship_NOV25/

# Logs & cache
*.log
